@import"styles/compo/navbar.css";

/* ---------------index style-----------------*/

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    margin:0 auto;
}

#sign-in-form{
    background-color: #EEEEEE;
    padding: 16px;
}

.card{
  width:100%;
  text-align: center;
  margin:8px 0;
}

  /*@media(min-width:768px){
    .card{
      margin:0 8px;
    }
  }*/

.card-text {
   font-weight: 700;
   text-align: center;

}

.introp{
  text-align: left;
  color: #00B4D8;
  line-height: 1;
  font-family: 'Kanit', sans-serif;
}
