@import"styles/compo/navbar.css";

/* ---------------pop up window style-----------------*/

body {}
  * {box-sizing: border-box;}

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    box-shadow: 5px 5px 10px 2px #8888;
    z-index: 14;

  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 15;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;

  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


/* -----------------------Carosel -------------------------*/

.carousel-item{
    height: 300px;
}

.carousel-item img{
    margin:0 auto;
}

.carousel-caption{
    text-shadow: 2.5px 2.5px 2px black;
}
  

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

h2{
  text-align: center;
  color: #00B4D8;
  line-height: 5;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;


}

@media(min-width: 768px) {

  h2{
    text-align: center;
    color: #00B4D8;
    line-height: 5;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;


  }
}


