@import"compo/navbar.css";


body{
    background-color: white;
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;  
}


p{
  line-height: 1;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #00B4D8;
  /* text-decoration: underline overline; */
  margin :16px 0px;
}

ul {
  list-style-type: none;
  font-family: 'Poiret One', cursive;
 }

.fc{
  colour: #395B64;
}

 h5{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
 }

 
h5{
    font-size: 12px
    font-family: 'Kanit', sans-serif;
  }


li{
  font-family: 'Poiret One', cursive;
}

a{
  font-family: 'Poiret One', cursive;

}

.title{
  font-size: 50px;
}

@media(min-width: 768px) {
  h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #00B4D8;
    /* text-decoration: underline overline; */
    margin :10px 0px;
  }


}

@media(min-width: 375px) {
  h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #00B4D8;
    /* text-decoration: underline overline; */
    margin :10px 0px;
  }

  .title{
    font-size: 35px;
  }

}



